doctype html
html
  head
    meta(charset='utf-8')
    title Test
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/js/index.js')
    script(src='/js/validation.js')
  body
    form#container(method='POST' action='/register')
        span.input
            input.input__field#input-1(type='text' name="name" required)
            label.input__label(for='input-1')
                span.input__label-content Imie
        span.input
            input.input__field#input-2(type='text' name="kierunek" required)
            label.input__label(for='input-2')
                span.input__label-content kierunek
        span.input
            input.input__field#input-3(type='tel' name="phone" required)
            label.input__label(for='input-3')
                span.input__label-content Telefon
        span.input
            input.input__field#input-4(type='email' name="email" required)
            label.input__label(for='input-4')
                span.input__label-content email
        span.input
            input.input__field#input-5(type='password' name="password" required) 
            label.input__label(for='input-5')
                span.input__label-content Haslo
        span.input
            input.input__field#input-6(type='password' name="confirm_password" required)
            label.input__label(for='input-6')
                span.input__label-content Powtorz haslo

        button#send-button(type="submit") Zarejestruj sie!